#container {
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 6px -6px #525F62;
}

.menu-logo {
  display: inherit;
}

.menu-logo > a > img {
  height: 2em;
}

.buttons > a > img {
  display: inherit;
  height: 2em;
}

.search-bar {
  display: inherit;
}

.searchbar {
  border-style: inset;
  height: 1.5em;
}

.searchbar > input {
  width: 60em;
}

.searchbar > img {
  height: 1em;
}

.video-info {
  display: flex;
}
